<div class="athletes">
    {{#each athletes}}
        <ul>
            <li>Prénom : {{firstName}}</li>
            <li>Nom : {{lastName}}</li>
            <li>Genre : {{gender.name}}</li>
        </ul>
    {{/each}}
</div>