<section class="athletes">
    <div class="container px-5">
        <div class="athletes-header"></div>
        <div class="row gx-5">
            {{#each athletes}}
                <div class="col-md-4 mb-5">
                    <div class="text-center">
                        <h3 class="font-alt">{{firstName}} {{lastName}}</h3>
                        <p class="text-muted mb-0">{{gender.name}}</p>
                        <p class="text-muted mb-0">{{country.name}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>