<section class="sports">
    <div class="container px-5">
        <div class="sports-header"></div>
        <div class="row gx-5">
            {{#each sports}}
                <div class="col-md-4 mb-5">
                    <div class="text-center">
                        <h3 class="font-alt">{{name}}</h3>
                        {{#if athletes}}
                        <p>Athlètes :</p>
                            {{#each athletes}}
                            <p class="text-muted mb-0">{{firstName}} {{lastName}}</p>
                            <button>Détails</button>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>